body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link:hover {
  background-color: rgb(162, 162, 239);
  color: red;
  font-size: large;
}

.nav-link.active-link {
  background-color: red; /* Change this to the color you prefer */
  color: white; /* Change this to the color you prefer */
  font-weight: bold; /* Optionally, you can make the text bold */
}

.navbar a {
  background-color: rgb(164, 231, 245);
  color: black(19, 19, 2); 
}

/* Tooltip container styles */
.nav-link {
  position: relative;
}

/* Tooltip content styles */
.nav-link::before {
  content: attr(data-tooltip); /* Display the data-tooltip content as the tooltip text */
  position: absolute;
  top: 100%; /* Position above the link text */
  left: 50%;
  transform: translateX(-50%);
  background-color: gold; /* Background color of the tooltip */
  color: black; /* Text color of the tooltip */
  padding: 5px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  z-index: 1; /* Ensure the tooltip is above the link text */
}

/* Show the tooltip on hover */
.nav-link:hover::before {
  visibility: visible;
  opacity: 1;
}
